.grid{
    margin:10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    background-color: cyan;
}
body{
    background-color: black;
}
.header{
    background-color: coral;  
    display: flex;
    justify-content: space-between;
}

a:link {
    color: orange;
}
a:visited {
    color: royalblue;
}